body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
    padding-top: 50px;
}

header {
    padding-top: 0%;
    position: fixed; 
    background-color: #FAFAFA;   
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.nav-section img:hover {
    cursor: pointer;
}

.nav-section {
    display: flex;
    align-items: center;
}

.nav-logo img {
    display: block;
    height: 50px;
}

#heard {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.nav-item img {
    margin-right: 8px;
}

.nav-item a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.divider {
    height: 30px;
    width: 1px;
    background-color: #ccc;
}

.right {
    display: flex;
    align-items: center;
}

.right .nav-item {
    display: flex;
    align-items: center;
}

#line-nav {
    position:fixed;
    width: 93%;
    border-bottom: 1px solid #000; 
    padding-bottom: 20px;
    display:#000'
    margin-left: 30px;
    margin-right: auto;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    border-color: #000;
    padding: 1px 10px;
    width: 200px; 
}

.search-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 10px;
    margin-top: 4px;

}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    background-color: #FAFAFA;
}

.lema {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;    
}

.line {
    width: 93%;
    border-bottom: 1px solid #000; 
    margin-bottom: -40px;
    padding-bottom: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
    
.lema img {
    width: 600px;
    height: auto; 
    margin-bottom: -20px;
}

.search-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.lema-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.lema-with-fields {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-top: 20px;
}

.lema h2 {
    color: #000000;
    margin-bottom: 20px; 
    margin-right: 40px; 
    font-weight: normal;
    font-family: 'Jacques Francois', serif;
    padding-left: 100px;
}

.map-image {
    width: 600px; 
    height: auto;
}

.search-fields {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 20px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%; 
    border-radius: 20px;
    border-color: #000;
    margin-left: auto;
    margin-right: auto;
}

.search-fields label {
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 15px;
}

.field {
    margin-bottom: 10px; 
}

.field input, button {
    width: 80%; 
    padding: 8px; 
    border-radius: 8px;
    border-color: #000;
    background-color: #E5DFDF;
}

button {
    background-color: #004a99;
    color: white;
    cursor: pointer;
    width: 18%;
    margin-top: 24px;
    border: 1px;
    border-color: #000;
}

.question h3 {
    text-shadow: #A08F8F;
    justify-content: left;
    padding-top: 40px;
    padding-left: 100px;
    font-size: 20px;
}

.places-container {
    width: 70%;
    margin: 20px auto;
    padding-top: 30px;
}

#double-right-side, #double-left-side {
    padding-top: 90px;
}
/*Sección sugerencias*/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
    padding: 20px;
}

.card {
    width: 228px;
    height: 230px;


    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    position: relative;

    box-shadow: 0px 2px 5px 2px #31313198;
    z-index: -1;
}

.card img {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;  
}


.name-tag {
    bottom: 0px;
    background-color: #fafafa;
    width: 100%;
    height: 67px;
    border-radius: 20px;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;


    position: absolute;

    transform: translateY(1px);


}

.name-tag > img {
    width: 40px;   /*Tamaño del ícono*/ 
    height: 40px;
    /*padding-bottom: 10px;*/

    padding: 5px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.name-tag p {
    font-size: 15px;
}


.card:hover {
    transform: translateY(-5px, 2 seg );
}

/*Seccion de informacion*/
.info-container{
    height: auto;
    padding: 80px 80px;
    background-color: #D9D9D9;

    display: flex;
    flex-direction: row wrap;
    gap: 30px;

}
.info-1{
    width: 500px;
    height: 300px;
    text-align: left;
}

#side-title{ 
    font-size: 30px;
    font-family: 'Jacques Francois', serif;
    font-weight: lighter;
}

.info-1 p{
    font-size: 24px;
}

.box-2{
    width: 360px;
    height: auto;
    text-align: center;
    align-self: center;
    padding: 15px 10px;

    border: 1px solid #000000;
    position: relative;

}

.box-2 > img{
    position: absolute;
    bottom: 0px;
    background-color: #D9D9D9;
    border-radius: 50%;

    justify-content: center;

    transform: translate(30px, 30px);

}

#info-title{
    font-size: 22px;
    font-family: 'Jacques Francois', serif;
    font-weight: lighter;
}
.info-1 > p, .box-2 >p{
    font-size: 20px;
    
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 200px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    padding-left: 65px;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.footer-bottom {
    margin-top: 10px;
    border-top: 1px solid #44473fe7;
    padding-top: 5px;
    font-size: 14px;
    color: #ccc;
}
